<h1>Main</h1>


<div class="grid" >
  <div class="cell" style="background-color: green">
  <button mat-raised-button matTooltip="front left" class="cell-button" (click)="logName('front left')">
    <mat-icon></mat-icon>
  </button>
  
  </div>

  <div class="cell" style="background-color: red">
    <button mat-raised-button matTooltip="front middle" class="cell-button" (click)="logName('front middle')">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>

  </div>

  <div class="cell" style="background-color: blue">
    <button mat-raised-button matTooltip="front right" class="cell-button" (click)="logName('front right')"></button>

  </div>

  <div class="cell" style="background-color: yellow">
    <button mat-raised-button matTooltip="left side" class="cell-button" (click)="logName('left side')">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

  </div>

  <div class="cell" style="background-color: lightcoral">
    <button mat-raised-button matTooltip="dashboard" class="cell-button" (click)="logName('dashboard')">
      <mat-icon>control_camera</mat-icon>
    </button>
  </div>

  <div class="cell" style="background-color: magenta">
    <button mat-raised-button matTooltip="right side" class="cell-button" (click)="logName('right side')">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

  </div>

  <div class="cell" style="background-color: turquoise">  
    <button mat-raised-button matTooltip="rear left" class="cell-button" (click)="logName('rear left')"></button>
  </div>
  
  <div class="cell" style="background-color: blueviolet">
    <button mat-raised-button matTooltip="rear middle" class="cell-button" (click)="logName('rear middle')">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>

  <div class="cell" style="background-color: orange">  
    <button mat-raised-button matTooltip="rear right" class="cell-button" (click)="logName('rear right')"></button>
  </div>
</div>

