

/* .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 50%;
  }
  .cell {
    flex: 0 0 33%;
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
  } */


  .container {
    justify-content: center;
    align-content: center;
  }

  .grid {
    max-height: 50%;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, 10%);
    grid-template-rows: repeat(3, 1fr); 
    gap: 10px; 

    width: 100%;
    align-self: center;
    justify-self: center;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 18px;
    font-weight: bold;
  }

.cell-button {
    width: 95%;
    max-height: 95%;
}