<h1>Main</h1>


<div class="grid">
  <div class="cell" style="background-color: green">
  <button mat-raised-button class="cell-button">
    <mat-icon></mat-icon>
  </button>
  
  </div>

  <div class="cell" style="background-color: red">
    <button mat-raised-button class="cell-button" (click)="logName()">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>

  </div>

  <div class="cell" style="background-color: blue">
    <button mat-raised-button class="cell-button"></button>

  </div>

  <div class="cell" style="background-color: yellow">
    <button mat-raised-button class="cell-button">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

  </div>

  <div class="cell" style="background-color: brown">
    <button mat-raised-button class="cell-button"></button>

  </div>

  <div class="cell" style="background-color: magenta">
    <button mat-raised-button class="cell-button">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

  </div>

  <div class="cell" style="background-color: turquoise">  
    <button mat-raised-button class="cell-button"></button>

  </div>
  
  <div class="cell" style="background-color: blueviolet">
    <button mat-raised-button class="cell-button">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

  </div>

  <div class="cell" style="background-color: orange">  
    <button mat-raised-button class="cell-button"></button>

</div>
</div>